extends shared/layout

block content

    h2 Go Sass Pug Badger

    p i18n test [error.NotFirstLaunch] - #{_i18n("error.NotFirstLaunch")}
    p i18n test [view.index.day, 10] - #{_i18n("view.index.day", 10)}
    p i18n test [view.index.day, 1] - #{_i18n("view.index.day", 1)}

    p #{i18n.View.Index.Hello(ctx.Domain)}

    if ctx.User.Role.Level > 0
        p #{i18n.View.Index.Hello_admin(ctx.User.Role.Name)}
