:go:func(arg) ctx GlobalCtx

include mixins
include ../component/all

-
    var _i18n = i18n.GetInstance().Get
    _ = _i18n


doctype 5

html.theme-dark(lang=`${ctx.Lang}`)

    head
        meta(charset='UTF-8')
        meta(name='viewport' content='initial-scale=1.0')
        meta(name='description' content='')
        link(rel='icon' type='image/png' href=`http://static.${ctx.Domain}/favicon.ico`)
        if ctx.IsDev
            link(rel='stylesheet' href=`http://static.${ctx.Domain}/css/autoprefix_style.css`)
            script(src=`http://static.${ctx.Domain}/js/main.js`)
        else
            link(rel='stylesheet' href=`https://static.${ctx.Domain}/css/prod_style.css`)
            script(src=`https://static.${ctx.Domain}/js/prod_main.js`)

        title #{ctx.TabTitle}

    body

        svg#svg-sprite(style='height: 0')

        header
            .container
                block header
                    .header
                        +svg-vectra-banner
                        .conf
                            #lang-switcher
                                button(onclick="toggleLang(this)")
                                    p #{ctx.Lang}
                                    case ctx.Lang
                                        when 'fr'
                                            +svg-flag-fr
                                        when 'en'
                                            +svg-flag-en
                                .popup
                                    each lang in ctx.Langs
                                        if lang != ctx.Lang
                                            button(onclick="toggleLang(this)")
                                                p #{lang}
                                                case lang
                                                    when 'fr'
                                                        +svg-flag-fr
                                                    when 'en'
                                                        +svg-flag-en

                            button#theme-switcher(onclick="toggleTheme()")
                                div
                                    +svg-icon-theme-dark
                                .hidden
                                    +svg-icon-theme-light
        #content
            .container
                template#modalYesCancel
                    .modal
                        .modal-content
                            span(name='message')
                            .row
                                button.button(name='ok')
                                button.button(name='cancel')
                                    div Annuler

                template#notification
                    .notification
                        span
                        span.close-btn &#10539;

                template#advice
                    .advice

                #notification-group

                block content

        footer
            .container
                block footer
                    .footer
                        p © Phosmachina
                        p #{i18n.View.Layout.Footer_build()}
                            a(href='https://github.com/Phosmachina/vectra') Vectra
